<!DOCTYPE html>
{% load render_table from django_tables2 %}
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Add_patinets</title>
    <!-- Bootstrap 相关文件 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<center>
<h1>Breast_Cancer_list</h1>
<a href="/add_user/">Add_patinets</a><br />
<table border="1">
    </center>

    <table class="table">
        <thead>
           <tr>
               <th>ID</th>
               <th>classify</th>
               <th>age</th>
               <th>phenotype</th>
               <th>numbers</th>
               <th>size</th>
               <th>location</th>
               <th>migration</th>
               <th>operation</th>
           </tr>
        </thead>
        <tbody>
           {% for d in gene %}
           <tr>
               <td>{{d.id}}</td>
              <td>{{d.classify}}</td>
              <td>{{d.age}}</td>
              <td>{{d.phenotype}}</td>
              <td>{{d.numbers}}</td>
               <td>{{d.size}}</td>
              <td>{{d.location}}</td>
              <td>{{d.migration}}</td>
              <td align="center">
                   <a href="/edit_user/?id={{ d.id }}" class="btn btn-primary"> edit </a>
                   <a href="/delete_gene/?id={{ d.id }}" class="btn btn-danger"> removal </a>
              </td>
           </tr>
           </tr>
           {% endfor %}
           {% block content %}
             <form method="POST" enctype="multipart/form-data" action = "/gene_upload/" >
               {% csrf_token %}
               <input type="file" name="myfile" >
               <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload</button>
             </form>
           {% endblock %}
        </tbody>
 </body>
</html>